.section-heading{
	display: flex;
	align-items: center;
	margin-bottom: 44px;
}
.section-title{
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	margin: 0;
	margin-right: 30px;
}
.cards{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card{
	background: #FFFFFF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	border-radius: 7px;
	overflow: hidden;
	margin-bottom: 30px;
	flex-basis: 30%;
	color: #000000;
	text-decoration: none;
}
.card-image{
	width: 384px;
	height: 250px;
	object-position: cover;
}
.card-text{
	padding-top:20px;
	padding-bottom: 35px;
	padding-left: 23px;
	padding-right: 23px;
}
.card-heading{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-title{
	margin: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
}
.card-title-reg{
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
}
.card-tag{
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background: #262626;
	border-radius: 2px;
	padding: 1px 8px;
}
.card-info{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
}
.card-buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
}

.card-price-bold{
	font-weight: bold;
font-size: 20px;
line-height: 32px;
color: #000000;
margin-left: 30px;
}
.rating{
	margin-right: 26px;
	color: #FFC107;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
}
.price, 
.category{
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 32px;
	color: #8C8C8C;
}
.price{
	margin-right: 10px;
}
.price:after{
	content: '';
	width: 5px;
	height: 5px;
	background-color:#8C8C8C ;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin-left: 10px;
}
@media ( max-width: 1366px){
	.section-heading{
        max-width: 960px;
		
       
    }
}
