.cards{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media ( max-width: 1366px){
	.section-heading{
        max-width: 960px;
		margin-top: 34px;
    }
}