.section-heading{
	display: flex;
	align-items: center;
	margin-bottom: 44px;
	justify-content: space-between;
}
.section-title{
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	margin: 0;
	margin-right: 30px;
}
