.section-heading{
	display: flex;
	align-items: center;
	margin-bottom: 44px;
	justify-content: space-between;
}
.section-title{
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
	margin: 0;
	margin-right: 30px;
}
.filter-title{
	color:black;
	
}
.filter-title:hover{
	text-decoration: underline;
	cursor: pointer;
}
.section-filter{
	display: flex;
	align-items:center;
	justify-content: space-between;
	background: #F3F3F3;
	max-width: 500px;
}
.filter-block{
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
	border-radius: 5px;

}
