
.container {
	max-width: 1200px;
	margin: auto;
}
.footer{
	padding: 60px 0;
}
.footer-block{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-nav{
	margin-left: 35px;
	margin-right: auto;

}
.footer-link{
	display: inline-block;
	color: #595959;
	text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}
.footer-link:not(:last-child){
	margin-right: 15px;
}
.social-links{
	display:flex;
	align-items: center;
}
.social-link:not(:last-child){
	margin-right: 21px;
}

@media ( max-width: 1366px){
	.footer{
        max-width: 960px;
        margin: auto;
    }
}