.empty-basket-section{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 150px;
}
.empty-basket-label{
    margin: 0 auto;

}
.empty-basket-shift{
    
    margin-bottom: 50px;
}
.empty-basket-label-mini{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 18px;
    line-height: 145.4%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #777777
}
.empty-basket-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 47px;
    margin-bottom: 56px;


}
.empty-basket-logo{
    width: 250px;
    height: 240px;
}
@media ( max-width: 992px){
    .empty-basket-label{
        margin: 0 auto;
        text-align: center;
    }
}
@media ( max-width: 768px){
    .empty-basket-label-text{
        font-size: 22px;
        line-height: 30px;
    }
}

@media ( max-width:578px ){
    .empty-basket-label-text{
        font-size: 18px;
        line-height: 30px;
    }
    
}