.shopping-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100px;
}
.items-amount{
    
        display: flex;
        align-items: center;
    
}
.items-title{
    
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000
}
.items-title-bold{
    
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000
}
.total-price-title{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000000;
}
.total-price-title-bold{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #FE5F1E;
}

@media ( max-width: 1366px){
    .shopping-footer{
        max-width: 960px;
        margin: auto;
       
    }
}